.row
        .col-lg-12
          h3 Datos e Imágenes:
      #allDatos_responsive
        .row
          .col-lg-12
            center
              a(href='agradecimientos.html', target='_blank')
                img(src='img/datos.png')
      #allDatos.row
        .col-lg-2
        .col-lg-3
          a(href='http://www.madrid.es/portal/site/munimadrid', target='_blank')
            img.img-responsive(src='img/logo-madrid.png')
        .col-lg-2
          a(href='https://es.wikipedia.org/wiki/Wikipedia:Portada', target='_blank')
            img#img-wikipedia.img-responsive(src='img/rsz_1wikipedia-logo.jpg')
        .col-lg-3
          a(href='http://www.magrama.gob.es/es/', target='_blank')
            img#ministerio-MA.img-responsive(src='img/ministerio-medio-ambiente.jpg')
        .col-lg-2