#allFooter
      footer.footer
        .container
          img(height='30', src='img/logo_ulises.png')
          a.pfooter.pull-right(target='_blank', href='https://twitter.com/kom_256')
            p.pull-right.fa.fa-twitter-square
          a.pfooter.pull-right(target='_blank', href='https://github.com/UlisesGascon')
            p.pull-right.fa.fa-github-square