#customCabecera
      .github-fork-ribbon-wrapper.right
        .github-fork-ribbon
          a(target='_blank', href='https://github.com/UlisesGascon/Aire-Madrid') Fork me on GitHub
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/', target='_self') Aire Madrid
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/historico', target='_self') Histórico
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Estaciones 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='estacion/4', target='_self') Plaza de España
                  li
                    a(href='estacion/8', target='_self') Escuelas Aguirre
                  li
                    a(href='estacion/11', target='_self') Ramón y Cajal
                  li
                    a(href='estacion/16', target='_self') Arturo Soria
                  li
                    a(href='estacion/17', target='_self') Villaverde
                  li
                    a(href='estacion/18', target='_self') Farolillo
                  li
                    a(href='estacion/24', target='_self') Casa de Campo
                  li
                    a(href='estacion/27', target='_self') Barajas 
                  li
                    a(href='estacion/35', target='_self') Plaza del Carmen
                  li
                    a(href='estacion/36', target='_self') Moratalaz
                  li
                    a(href='estacion/38', target='_self') Cuatro Caminos
                  li
                    a(href='estacion/39', target='_self') Barrio del Pilar
                  li
                    a(href='estacion/40', target='_self') Vallecas
                  li
                    a(href='estacion/47', target='_self') Méndez Álvaro
                  li
                    a(href='estacion/48', target='_self') Castellana
                  li
                    a(href='estacion/49', target='_self') Parque del Retiro
                  li
                    a(href='estacion/50', target='_self') Plaza Castilla
                  li
                    a(href='estacion/54', target='_self') Ensanche de Vallecas
                  li
                    a(href='estacion/55', target='_self') Urbanización Embajada
                  li
                    a(href='estacion/56', target='_self') Plaza Fernández Ladreda
                  li
                    a(href='estacion/57', target='_self') Sanchinarro
                  li
                    a(href='estacion/58', target='_self') El Pardo
                  li
                    a(href='estacion/59', target='_self') Parque Juan Carlos I
                  li
                    a(href='estacion/60', target='_self') Tres Olivos
              li
                a(href='agradecimientos', target='_self') Agradecimientos
              li
                a(href='sobre', target='_self') Sobre
              li
                a(href='https://github.com/UlisesGascon/Aire-Madrid#api', target='_blank') API