#allModals
      #SO2Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Dióxido de Azufre (S0
                sub 2
                | )
            .modal-body
              .row
                .col-lg-12
                  img.pull-left.img-responsive.img-peligrosidad(src='img/peligrosidad_dioxido_de_azufre.png')
                  p
                    em
                      span [3]Muy peligroso
                      span [0]No se inflama
                      span [0]Estable
                  p
                    | El dióxido de azufre es un óxido cuya fórmula molecular es SO
                    sub 2
                    | . Es un gas incoloro con un característico olor asfixiante. Se trata de una sustancia reductora que, con el tiempo, el contacto con el aire y la humedad, se convierte en trióxido de azufre. La velocidad de esta reacción en condiciones normales es baja.
              .row
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite horario
                    .panel-body
                      h3
                        | 350 μg/m
                        sup 3
                      |  que no podrá superarse en más de 24 ocasiones por año
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite diario
                    .panel-body
                      h3
                        | 125 μg/m
                        sup 3
                      |  que no podrá superarse en más de 3 ocasiones por año
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Umbral de Alerta
                    .panel-body
                      h3
                        | 500 μg/m
                        sup 3
                      |  durante tres horas consecutivas en un área >100 km
                      sup 2
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Di%C3%B3xido_de_azufre') Wikipedia
                    |  y 
                    a(target='_blank', href='http://www.madrid.es/UnidadesDescentralizadas/Sostenibilidad/ContenidosBasicos/Ficheros/PlanCalidadAire2012.pdf') Ayuntamiento de Madrid
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #COModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Monóxido de Carbono (CO)
            .modal-body
              .row
                .col-lg-12
                  img.pull-left.img-responsive.img-peligrosidad(src='img/peligrosidad_monoxido_de_carbono.png')
                  p
                    em
                      span [4]Causa de muerte
                      span [4]Se inflama a <25°C
                      span [0]Estable
                  p
                    | El monóxido de carbono, también denominado óxido de carbono (II), gas carbonoso y anhídrido carbonoso (los dos últimos cada vez más en desuso), cuya fórmula química es CO, es un gas inodoro, incoloro y altamente tóxico. Puede causar la muerte cuando se respira en niveles elevados. Se produce por la combustión deficiente de sustancias como gas, gasolina, keroseno, carbón, petróleo, tabaco o madera. Las chimeneas, las calderas, los calentadores de agua o calefactores y los aparatos domésticos que queman combustible, como las estufas u hornallas de la cocina o los calentadores a queroseno, también pueden producirlo si no están funcionando bien. Los vehículos con el motor encendido también lo despiden. También se puede encontrar en las atmósferas de las estrellas de carbono.
              .row
                .col-lg-4  
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite Octohorario
                    .panel-body
                      h3
                        | 10 μg/m
                        sup 3
                      |  media octohoraria máxima en un día
                .col-lg-4  
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Mon%C3%B3xido_de_carbono') Wikipedia
                    |  y 
                    a(target='_blank', href='http://www.madrid.es/UnidadesDescentralizadas/Sostenibilidad/ContenidosBasicos/Ficheros/PlanCalidadAire2012.pdf') Ayuntamiento de Madrid
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #NOModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Monóxido de Nitrógeno (NO)
            .modal-body
              .row
                .col-lg-12
                  img.pull-left.img-responsive.img-peligrosidad(src='img/peligrosidad_monoxido_de_nitrogeno.png')
                  p
                    em
                      span [3]Muy peligroso
                      span [0]No se inflama
                      span [2]Inestable en caso de cambio químico violento
                      span [OX] Oxidante
                  p
                    | El óxido de nitrógeno (II), óxido nítrico o monóxido de nitrógeno (NO) es un gas incoloro y poco soluble en agua presente en pequeñas cantidades en los mamíferos. Está también extendido por el aire siendo producido en automóviles y plantas de energía. Se lo considera un agente tóxico.
                  p
                    | A altas temperaturas el nitrógeno (N
                    sub 2
                    | ) y el oxígeno (O
                    sub 2
                    | ) moleculares pueden combinarse para formar óxido nítrico; por ello las actividades humanas han incrementado en gran medida la presencia de este gas en la atmósfera.
                  p
                    | Este gas en el aire puede convertirse, más tarde, en ácido nítrico produciendo así lluvia ácida. Además el NO y el NO
                    sub 2
                    |  son en parte responsables del agujero de la capa de ozono.
                  p
                    | Su efecto para con la radiación solar es doble. Mientras en la baja atmósfera contribuyen al calentamiento global en la alta lo hacen al oscurecimiento global.
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/%C3%93xido_de_nitr%C3%B3geno_(II)') Wikipedia
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #NO2Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Dióxido de Nitrógeno (NO
                sub 2
                | )
            .modal-body
              .row
                .col-lg-12
                  img.pull-left.img-responsive.img-peligrosidad(src='img/peligrosidad_dioxido_de_nitrogeno.png')
                  p
                    em
                      span [3]Muy peligroso
                      span [0]No se inflama
                      span [0]Estable
                  p
                    | El dióxido de nitrógeno u óxido de nitrógeno (IV) (NO
                    sub 2
                    | ), es un compuesto químico formado por los elementos nitrógeno y oxígeno, uno de los principales contaminantes entre los varios óxidos de nitrógeno.
                  p
                    | El dióxido de nitrógeno es de color marrón-amarillento. Se forma como subproducto en los procesos de combustión a altas temperaturas, como en los vehículos motorizados y las plantas eléctricas. Por ello es un contaminante frecuente en zonas urbanas.
                  p
                    | Es un gas tóxico, irritante y precursor de la formación de partículas de nitrato. Estas llevan a la producción de ácido y elevados niveles de PM-2.5 en el ambiente. Afecta principalmente al sistema respiratorio. La exposición a corto plazo en altos niveles causa daños en las células pulmonares, mientras que la exposición a más largo plazo en niveles bajos de dióxido de nitrógeno puede causar cambios irreversibles en el tejido pulmonar similares a un enfisema.
                  p
                    | El dióxido de nitrógeno es un contaminante indicador del tráfico rodado fundamentalmente, es emitido especialmente por los vehículos diesel (emisiones directas o “primarias”), pero se produce también por la oxidación del monóxido de nitrógeno, emitido también por los vehículos (dióxido de nitrógeno secundario).
              .row
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite horario
                    .panel-body
                      h3
                        | 200 μg/m
                        sup 3
                      |  que no podrá superarse en más de 18 ocasiones por año
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite anual
                    .panel-body
                      h3
                        | 40 μg/m
                        sup 3
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Umbral de Alerta
                    .panel-body
                      h3
                        | 400 μg/m
                        sup 3
                      |  durante tres horas consecutivas en un área >100 km
                      sup 2
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Di%C3%B3xido_de_nitr%C3%B3geno') Wikipedia
                    |  y 
                    a(target='_blank', href='http://www.madrid.es/UnidadesDescentralizadas/Sostenibilidad/ContenidosBasicos/Ficheros/PlanCalidadAire2012.pdf') Ayuntamiento de Madrid
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #O3Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Ozono (O
                sub 3
                | )
            .modal-body
              .row
                .col-lg-12
                  p
                    | El ozono (O
                    sub 3
                    | ) es una sustancia cuya molécula está compuesta por tres átomos de oxígeno, formada al disociarse los dos átomos que componen el gas de oxígeno. Cada átomo de oxígeno liberado se une a otra molécula de oxígeno gaseoso (O
                    sub 2
                    | ), formando moléculas de ozono (O
                    sub 3
                    | ).
                  p
                    | A temperatura y presión ambientales el ozono es un gas de olor acre y generalmente incoloro, pero en grandes concentraciones puede volverse ligeramente azulado. Si se respira en grandes cantidades, puede provocar una irritación en los ojos y/o garganta, la cual suele pasar después de respirar aire fresco por algunos minutos.
              .row
                .col-lg-2  
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Umbral información
                    .panel-body
                      h3
                        | 180 μg/m
                        sup 3
                      |  Como valor medio de 1 hora
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Umbral de Alerta
                    .panel-body
                      h3
                        | 240 μg/m
                        sup 3
                      |  Como valor medio de 1 hora
                .col-lg-2  
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Ozono') Wikipedia
                    |  y 
                    a(target='_blank', href='http://www.madrid.es/UnidadesDescentralizadas/Sostenibilidad/ContenidosBasicos/Ficheros/PlanCalidadAire2012.pdf') Ayuntamiento de Madrid
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #TOLModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Tolueno (C
                sub 6
                | H
                sub 5
                | CH
                sub 3
                | )
            .modal-body
              .row
                .col-lg-12
                  p
                    | El tolueno o metilbenceno (C
                    sub 6
                    | H
                    sub 5
                    | CH
                    sub 3
                    | ) es un hidrocarburo aromático a partir de la cual se obtienen derivados del benceno, el ácido benzoico, el fenol, la caprolactama, la sacarina, el diisocianato de tolueno (TDI), materia prima para la elaboración de poliuretano, medicamentos, colorantes, perfumes, TNT y detergentes.
                  p
                    | El tolueno puede afectar al sistema nervioso. Niveles bajos o moderados pueden producir cansancio, confusión, debilidad, pérdida de la memoria, náusea, pérdida del apetito y pérdida de la audición y la vista. Estos síntomas generalmente desaparecen cuando la exposición termina.
                  p
                    | Los vapores de tolueno presentan un ligero efecto narcótico e irritan los ojos. Inhalar niveles altos de tolueno durante un período breve puede hacer que uno se sienta mareado o somnoliento. Puede causar, además, pérdida del conocimiento y, en casos extremos, la muerte.
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Tolueno') Wikipedia
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #BENModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Benceno (C
                sub 6
                | H
                sub 6
                | )
            .modal-body
              .row
                .col-lg-12
                  img.pull-left.img-responsive.img-peligrosidad(src='img/peligrosidad_benceno.png')
                  p
                    em
                      span [3]Muy peligroso
                      span [3]Se inflama a <37°C
                      span [2]Inestable en caso de cambio químico violento
                  p
                    | El benceno es un líquido incoloro y muy inflamable de aroma dulce (que debe manejarse con sumo cuidado debido a su carácter cancerígeno), con un punto de ebullición relativamente alto.
                  p
                    | Respirar niveles de benceno muy altos puede causar la muerte, mientras que niveles bajos pueden causar somnolencia, mareo y aceleración del latido del corazón o taquicardia. Comer o tomar altos niveles de benceno puede causar vómitos, irritación del estómago, mareo, somnolencia o convulsiones y, en último extremo, la muerte.
                  p
                    | La exposición de larga duración al benceno se manifiesta en la sangre. El benceno produce efectos nocivos en la médula ósea y puede causar una disminución en el número de hematíes, lo que conduce a padecer anemia. El benceno también puede producir hemorragias y daños en el sistema inmunitario, aumentando así las posibilidades de contraer infecciones por inmunodepresión.
              .row
                .col-lg-4  
                .col-lg-4
                  .panel.panel-default
                    .panel-heading Límite Anual
                    .panel-body
                      h3
                        | 5 μg/m
                        sup 3
                .col-lg-4  
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Benceno') Wikipedia
                    |  y 
                    a(target='_blank', href='http://www.madrid.es/UnidadesDescentralizadas/Sostenibilidad/ContenidosBasicos/Ficheros/PlanCalidadAire2012.pdf') Ayuntamiento de Madrid
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #EBEModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Etilbenceno (C
                sub 6
                | H
                sub 5
                | CH
                sub 2
                | CH
                sub 3
                | )
            .modal-body
              .row
                .col-lg-12
                  p
                    | El etilbenceno es un líquido inflamable, incoloro, de olor similar a la gasolina. Se le encuentra en productos naturales tales como carbón y petróleo, como también en productos de manufactura como tinturas, insecticidas y pinturas.
                  p
                    | El uso principal del etilbenceno es para fabricar otro producto químico, estireno y por la polimerización de éste se obtiene el poliestireno, que sirve en la fabricación de resinas, plásticos y hules. Otros usos incluyen como solvente, en combustibles, y en la manufactura de otros productos químicos.
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Etilbenceno') Wikipedia
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #CH4Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title
                | Metano (CH
                sub 4
                | )
            .modal-body
              .row
                .col-lg-12
                  p
                    | El metano es el hidrocarburo alcano más sencillo, cuya fórmula química es CH
                    sub 4
                  p
                    | El metano no es tóxico. Su principal peligro para la salud son las quemaduras que puede provocar si entra en ignición. Es altamente inflamable y puede formar mezclas explosivas con el aire. El metano reacciona violentamente con oxidantes, halógenos y algunos compuestos halogenados. El metano también es asfixiante y puede desplazar al oxígeno en un espacio cerrado. La asfixia puede sobrevenir si la concentración de oxígeno se reduce por debajo del 19,5 % por desplazamiento. Las concentraciones a las cuales se forman las barreras explosivas o inflamables son mucho más pequeñas que las concentraciones en las que el riesgo de asfixia es significativo. Si hay estructuras construidas sobre o cerca de vertederos, el metano desprendido puede penetrar en el interior de los edificios y exponer a los ocupantes a niveles significativos de metano. Algunos edificios tienen sistemas por debajo de sus cimientos para capturar este gas y expulsarlo del edificio.
              .row
                .col-lg-12
                  em
                    | Fuente: 
                    a(target='_blank', href='https://www.wikiwand.com/es/Metano') Wikipedia
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
      #UVVModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Radiación Ultravioleta (UV)
            .modal-body
              .row
                .col-lg-12
                  p
                    | La mayor parte de la radiación ultravioleta que llega a la Tierra lo hace en las formas UV-C, UV-B y UV-A; principalmente en esta última, a causa de la absorción por parte de la atmósfera terrestre. Estos rangos están relacionados con el daño que producen en el ser humano: la radiación UV-C (la más perjudicial para la vida) no llega a la tierra al ser absorbida por el oxígeno y el ozono de la atmósfera; la radiación UV-B es parcialmente absorbida por el ozono y solo llega a la superficie de la tierra en un porcentaje mínimo, pese a lo que puede producir daños en la piel.
                  p
                    | Entre los daños que los rayos ultravioleta pueden provocar se incluyen el cáncer de piel, envejecimiento de ésta, irritación, arrugas, manchas o pérdida de elasticidad, así como afecciones a nivel ocular. También pueden desencadenar lupus eritematoso sistémico.
                  p
                    | La radiación UV es altamente mutagénica, es decir, que induce a mutaciones. En el ADN provoca daño al formar dímeros de pirimidinas (generalmente dímeros de timina) que acortan la distancia normal del enlace, generando una deformación de la cadena.
                .row
                  .col-lg-12
                    em
                      | Fuente: 
                      a(target='_blank', href='http://www.wikiwand.com/es/Radiaci%C3%B3n_ultravioleta') Wikipedia
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar