.row
        .col-lg-12
          h3  Otras Estaciones:
      #customEstaciones.row
        .col-lg-3
          p
            a(href='estacion/4', target='_self') Plaza de España
          p
            a(href='estacion/8', target='_self') Escuelas Aguirre
          p
            a(href='estacion/11', target='_self') Ramón y Cajal
          p
            a(href='estacion/16', target='_self') Arturo Soria
          p
            a(href='estacion/17', target='_self') Villaverde
          p
            a(href='estacion/18', target='_self') Farolillo
        .col-lg-3
          p
            a(href='estacion/24', target='_self') Casa de Campo
          p
            a(href='estacion/27', target='_self') Barajas 
          p
            a(href='estacion/35', target='_self') Plaza del Carmen
          p
            a(href='estacion/36', target='_self') Moratalaz
          p
            a(href='estacion/38', target='_self') Cuatro Caminos
          p
            a(href='estacion/39', target='_self') Barrio del Pilar
        .col-lg-3
          p
            a(href='estacion/40', target='_self') Vallecas
          p
            a(href='estacion/47', target='_self') Méndez Álvaro
          p
            a(href='estacion/48', target='_self') Castellana
          p
            a(href='estacion/49', target='_self') Parque del Retiro
          p
            a(href='estacion/50', target='_self') Plaza Castilla
          p
            a(href='estacion/54', target='_self') Ensanche de Vallecas
        .col-lg-3
          p
            a(href='estacion/55', target='_self') Urbanización Embajada
          p
            a(href='estacion/56', target='_self') Plaza Fernández Ladreda
          p
            a(href='estacion/57', target='_self') Sanchinarro
          p
            a(href='estacion/58', target='_self') El Pardo
          p
            a(href='estacion/59', target='_self') Parque Juan Carlos I
          p
            a(href='estacion/60', target='_self') Tres Olivos