script(src='//www.google-analytics.com/analytics.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='http://maps.googleapis.com/maps/api/js?extension=.js&output=embed')