.row
        .col-lg-12
          h3 Construido con:
      #allConstruido_responsive
        .row
          .col-lg-12
            center
              a(href='agradecimientos.html', target='_blank')
                img(src='img/construccion.png')
      #allConstruido.row
        .col-lg-3
        .col-lg-1
        .col-lg-1
          a(href='https://nodejs.org/', target='_blank')
            img.img-responsive.banda-inferior(src='img/nodejs.png')
        .col-lg-1
          a(href='http://pillarsjs.com/', target='_blank')
            img.img-responsive.banda-inferior(src='img/pillarsjs.png')
        .col-lg-1
          a(href='https://www.firebase.com/', target='_blank')
            img.img-responsive.banda-inferior(src='img/firebase.png')
        .col-lg-1
          a(href='http://getbootstrap.com/', target='_blank')
            img.img-responsive.banda-inferior(src='img/Bootstrap.svg')
        .col-lg-1
        .col-lg-3